<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
   <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <![endif]-->
   {% seo %}
   {% include head-custom.html %}
</head>
<body style="background: url(AltarBlackBrick.png);">
   <header style="
      background:black;
      padding:0;
      color: white;
      width: 100%;
      margin: 0;
      border: 0;
      background-color: black;
      text-align: center;
      overflow: hidden;
      z-index: 10;
      ">
      <div style="
         padding: 0;
         position: relative;
         z-index: 3;
         margin: 0;
         overflow: hidden;
         max-height: 500px;
         width: 100%;
         height: 500px;
         background:black;
         ">
         <img src="PACO_AnAdventureBegins_LogoRemastered.png" style="
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            ">
         <div style="
            position: absolute;
            z-index: 20;
            background: linear-gradient(90deg, black, #00000000);
            height: 100%;
            width: 200px;
            "></div>
         <div style="
            position: absolute;
            z-index: 20;
            background: linear-gradient(-90deg, black, #00000000);
            height: 100%;
            width: 200px;
            right: 0;
            "></div>
         <video loop="true" autoplay="autoplay" muted style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            object-position: center;
            object-fit: cover;
            ">
            <source src="vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
      </div>
   </header>
   <div id="content-wrapper" style="border-top: 1px solid black;">
      <div class="inner clearfix">
         <section id="main-content">
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Bienvenidos</h1>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">"PACO AN ADVENTURE BEGINS ES UN JUEGO LINEAL PLATAFORMERO DE AVENTURAS CON UNA GRAN NARRATIVA Y SOBRE TODO ***MUCHA, MUCHA*** ACCION."</p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">"Este videojuego se centra principalmente en la Velocidad y el Humor, aunque también utiliza recursos de Plataformeo y un toque de Roguelike, simplemente diversion asegurada"</p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">
               TIENES LO QUE SE NECESITA PARA ADENTRARTE EN LA MAZMORRA CON PACO?! ANIMATE!
            </p>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Storyline</h1>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">Fulgencio, el padre de un joven aventurero llamado Paco muere a causa de una maldición, el mismo le encarga antes de su muerte la misión de llevar una misteriosa espada a su lugar de origen, una mazmorra llena de peligros. El joven se adentra en aquel lugar con su objetivo claro, si bien los seres que habitan aquel hórrido lugar son tan temibles como poderosos, Paco buscara la manera de cumplir con aquella petición.</p>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Nuestros clientes</h1>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               /* float: left; */
               ">Hernan Quiroga</h4>
            <div style="
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-content: center;
               align-items: stretch;
               justify-content: flex-start;
               ">
               <img src="CXrmKEbWEAAXYYO.png" style="
                  width: 320px;
                  /* float: left; */
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  padding-top: 67px;
                  /* float: left; */
                  margin: 0;
                  padding: 0;
                  margin-left: 10px;
                  ">"Este juego supero totalmente mis expectativas, es muy entretenido y tiene una historia muy interesante! Recomiendo al 100x100!!!"</p>
            </div>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* padding-top: 67px; */
               /* float: left; */
               ">Enrique Espinola</h4>
            <div style="
               display: flex;
               flex-direction: row-reverse;
               flex-wrap: nowrap;
               align-content: center;
               align-items: center;
               justify-content: flex-start;
               ">
               <img src="espee.jpg" style="
                  width: 320px;
                  float: right;
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  ">"Sumamente simetrico y lineal como a mi me gusta, con tonos isometricamente axiales."</p>
            </div>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* float: left; */
               ">
               Rey Guillermo
            </h4>
            <div style="
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-content: center;
               align-items: center;
               justify-content: flex-start;
               ">
               <img src="flipp.jpg" style="
                  width: 320px;
                  float: left;
                  /* margin-top: 115px; */
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  /* padding-top: 67px; */
                  /* margin-left: 10px; */
                  ">"Fua flipas chaval. Es el nuevo amogus."</p>
            </div>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* float: left; */
               ">
               Marcela Becerra
            </h4>
            <div style="
               display: flex;
               flex-direction: row-reverse;
               flex-wrap: nowrap;
               align-content: center;
               align-items: center;
               justify-content: flex-start;
               ">
               <img src="mbecerra.jpg" style="
                  width: 320px;
                  float: left;
                  /* margin-top: 115px; */
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  /* padding-top: 67px; */
                  /* margin-left: 10px; */
                  ">"Me encanto el jueguito. muy buenos graficos."</p>
            </div>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* float: left; */
               ">
               Jack Ma en representacion de AlibabaGroup
            </h4>
            <div style="
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-content: center;
               align-items: center;
               justify-content: flex-start;
               ">
               <img src="jacmapaco.png" style="
                  width: 320px;
                  float: left;
                  /* margin-top: 115px; */
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  /* padding-top: 67px; */
                  /* margin-left: 10px; */
                  padding-left: 10px;
                  ">"Estamos orgullosos de Bug&amp;Soft como empresa y podemos decir tranquilamente su capital va a superar el PIB de las islas Boro Boro en cualquier momento"</p>
            </div>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* float: left; */
               ">Christian Ntsay (Ministro de Relaciones exteriores de Madagascar)</h4>
            <div style="
               display: flex;
               flex-direction: row-reverse;
               flex-wrap: nowrap;
               align-content: center;
               align-items: center;
               justify-content: flex-start;
               ">
               <img src="https://webster.ch/images/facultyandstaff/tehindrazanarivelo.jpg" style="
                  width: 320px;
                  float: left;
                  /* margin-top: 115px; */
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  /* padding-top: 67px; */
                  /* margin-left: 10px; */
                  padding-left: 10px;
                  ">"Madagascar esta interesado en comprar 100.000 copias fisicas del juego para fomentar la educacion en el pais. Vamos Bug&amp;Soft!"</p>
            </div>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               margin-top: 75px;
               ">Noticias</h1>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 0;
               ">xPeke, el ex-miembro del sponsor oficial de Bug&amp;Soft ORIGEN, podria adquirir un 57% de la empresa Bug&amp;Soft.</p>
            <div style="
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               justify-content: space-between;
               ">
               <img src="xpeke.jpg" style="
                  width: 320px;
                  float: left;
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  /* padding-top: 67px; */
                  ">"Estamos negociando con los accionistas. Se puede dar en cualquier momento." - xPeke</p>
            </div>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 0;
               margin-top: 100px;
               ">**INSOLITO** </p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               /* padding-top: 67px; */
               ">"La estrella koreana Faker (Lee Sang-hyeok) dejaria de de dedicarse profesionalmente al aclamado videojuego de Riot Games "League of Legends" para dedicarse unica y exclusivamente a Paco:An Adventure Begins
            </p>
            <div style="
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               justify-content: space-between;
               ">
               <img src="lee.png" style="
                  width: 320px;
                  float: left;
                  ">
               <p style="
                  color: white;
                  font-family: pixeled;
                  text-transform: uppercase;
                  ">한국 스타 페이커(이상혁)가 호평을 받은 라이엇 게임즈 비디오 게임 "리그 오브 레전드"에 전문적으로 전념하는 것을 중단하고 에만 전념합니다.</p>
            </div>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               margin-top: 75px;
               ">Donaciones</h1>
            <img src="Activate-WeChat-Pay.png" style="
               width: 200px;
               ">
            <img src="arton403.png" style="
               /* width: 100px; */
               ">
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               margin-top: 75px;
               ">Nuestros Sponsors</h1>
            <img src="300px-Origen.png" style="
               width: 100px;
               ">
            <img src="cambio-nelson-GASTON.jpg" style="
               /* width: 100px; */
               ">
            <div style="
               margin-top: 200px;
               ">
               <img src="100-secure-website-seal-18731629.jpg" style="
                  width: 100px;
                  ">
               <img src="Screen-Shot-2014-07-29-at-08.33.40.png" style="
                  width: 100px;
                  ">
               <img src="images.jfif" style="
                  width: 100px;
                  ">
               <img src="scuderi.png" style="
                  width: 100px;
                  "><img src="kindle_125x125.gif" style="
                  width: 100px;
                  ">
               <img src="arton666.png" style="
                  width: 100px;
                  ">
            </div>
         </section>
         <aside id="sidebar" style="background: transparent; width: auto;">			
			<h3 style="padding-bottom: 11px; color: white; font-family: pixeled; margin-bottom: 10px;">v1.0.2 - PROFES</h3>
            {% if site.show_downloads %}
            <a href="{{ site.github.instalador_prof }}" class="button" style="
               background: url(../primaryButton.png);
               background-repeat: no-repeat;
               width: 200px;
               font-family: &quot;Pixeled&quot;;
               padding: 0;
               text-align: center;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               align-content: center;
               flex-direction: column;">
            <small style="padding-bottom: 11px;">INSTALADOR PROFE</small>
            </a>
			
			<h3 style="padding-bottom: 11px; color: white; font-family: pixeled; margin-bottom: 10px;">{{ site.github.version}} - GITHUB ACTIONS</h3>
            <a href="{{ site.github.instalador }}" class="button" style="
               background: url(../primaryButton.png);
               background-repeat: no-repeat;
               width: 200px;
               font-family: &quot;Pixeled&quot;;
               padding: 0;
               text-align: center;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               align-content: center;
               flex-direction: column;">
            <small style="padding-bottom: 11px;">INSTALADOR ACTIONS</small>
			
			
            <a href="{{ site.github.source }}" class="button" style="
               background: url(../errorButton.png);
               background-repeat: no-repeat;
               width: 200px;
               font-family: &quot;Pixeled&quot;;
               padding: 0;
               text-align: center;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               align-content: center;
               flex-direction: column;">
            <small style="padding-bottom: 11px;">SOURCE CODE</small>
            </a>
            {% endif %}
         </aside>
      </div>
   </div>
</body>
</html>