<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
   <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <![endif]-->
   {% seo %}
   {% include head-custom.html %}
</head>
<body style="background: url(AltarBlackBrick.png);">
   <header style="
      background:black;
      padding:0;
      color: white;
      width: 100%;
      margin: 0;
      border: 0;
      background-color: black;
      text-align: center;
      overflow: hidden;
      z-index: 10;
      ">
      <div style="
         padding: 0;
         position: relative;
         z-index: 3;
         margin: 0;
         overflow: hidden;
         max-height: 500px;
         width: 100%;
         height: 500px;
         background:black;
         ">
         <img src="PACO_AnAdventureBegins_LogoRemastered.png" style="
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            ">
         <div style="
            position: absolute;
            z-index: 20;
            background: linear-gradient(90deg, black, #00000000);
            height: 100%;
            width: 200px;
            "></div>
         <div style="
            position: absolute;
            z-index: 20;
            background: linear-gradient(-90deg, black, #00000000);
            height: 100%;
            width: 200px;
            right: 0;
            "></div>
         <video loop="true" autoplay="autoplay" muted style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            object-position: center;
            object-fit: cover;
            ">
            <source src="vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
      </div>
   </header>
   <div id="content-wrapper" style="border-top: 1px solid black;">
      <div class="inner clearfix">
         <section id="main-content">
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Welcome</h1>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">Paco an adventure begins es un juego lineal plataformero de aventuras Con una gran narrativa y sobre todo ***MUCHA, MUCHA*** accion.</p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               ">SI TE GUSTA LA VELOCIDAD Y EL HUMOR NEGRO HAS ENCONTRADO EL CANDIDATO PERFECTO</p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               ">tienes lo que se necesita para adentrarte en la mazmorra con paco?! Animate!</p>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Nuestros clientes</h1>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               /* float: left; */
               ">Hernan Quiroga</h4>
            <img src="CXrmKEbWEAAXYYO.png" style="
               width: 320px;
               float: left;
               ">
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               /* float: left; */
               ">"Este juego supero totalmente mis expectativas, es muy entretenido y tiene una historia muy interesante! Recomiendo al 100x100!!!"</p>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               /* float: left; */
               ">Enrique Espinola</h4>
            <img src="espi.jpg" style="
               width: 320px;
               float: right;
               ">
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               ">"Sumamente simetrico y lineal como a mi me gusta, con tonos isometricamente axiales."</p>
            <h4 style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               /* float: left; */
               ">
               Rey Guillermo
            </h4>
            <img src="flipp.jpg" style="
               width: 320px;
               float: left;
               ">
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               ">"Fua flipas chaval. Es el nuevo amogus."</p>
            <h1 style="
               font-family: alagard;
               color: white;
               font-size: 48px;
               text-shadow: 2px 2px #0017bf;
               ">Noticias</h1>
            <img src="xpeke.jpg" style="
               width: 320px;
               float: left;
               ">
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               ">xPeke, el ex-miembro del sponsor oficial de Bug&Soft ORIGEN, podria adquirir un 57% de la empresa Bug&Soft.</p>
            <p style="
               color: white;
               font-family: pixeled;
               text-transform: uppercase;
               padding-top: 67px;
               ">"Estamos negociando con los accionistas. Se puede dar en cualquier momento." - xPeke</p>
            <div style="margin-top: 200
               px
               ;">
               <img src="100-secure-website-seal-18731629.jpg" style="
                  width: 100px;
                  ">
               <img src="Screen-Shot-2014-07-29-at-08.33.40.png" style="
                  width: 100px;
                  ">
               <img src="images.jfif" style="
                  width: 100px;
                  ">
            </div>
         </section>
         <aside id="sidebar" style="background: transparent;">
            <h3 style="padding-bottom: 11px; color: white; font-family: pixeled; margin-bottom: 10px;">DESCARGAS</h3>
            {% if site.show_downloads %}
            <a href="{{ site.github.instalador }}" class="button" style="
               background: url(../primaryButton.png);
               background-repeat: no-repeat;
               width: 200px;
               font-family: &quot;Pixeled&quot;;
               padding: 0;
               text-align: center;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               align-content: center;
               flex-direction: column;">
            <small style="padding-bottom: 11px;">INSTALADOR</small>
            </a>
            <a href="{{ site.github.source }}" class="button" style="
               background: url(../errorButton.png);
               background-repeat: no-repeat;
               width: 200px;
               font-family: &quot;Pixeled&quot;;
               padding: 0;
               text-align: center;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               align-content: center;
               flex-direction: column;">
            <small style="padding-bottom: 11px;">SOURCE CODE</small>
            </a>
            {% endif %}
            {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
            {% endif %}
            <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
         </aside>
      </div>
   </div>
</body>
</html>